*
{
    background-color: cyan;
    color: purple;
}

#ta
{
    margin-left:10%;
    margin-top: 5%;
}

td
{
    font-weight: bold;
    font-size: 120%;
    color: blue;
}

button
{
    font-weight: bold;
    color: blue;
}

button:hover
{
    background-color:cadetblue;
    color: blue;
}

.mess
{
    margin-left:10%;
    margin-top:2%;
    font-weight:bold;
    font-size: 200%;
}
